SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50P", SYMLINK+="tty_acq1001_001"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z4", SYMLINK+="tty_acq1001_002"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50U", SYMLINK+="tty_acq1001_003"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51X", SYMLINK+="tty_acq1001_004"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30A", SYMLINK+="tty_acq1001_005"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38V", SYMLINK+="tty_acq1001_006"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30F", SYMLINK+="tty_acq1001_007"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52F", SYMLINK+="tty_acq1001_008"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A3", SYMLINK+="tty_acq1001_013"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L398", SYMLINK+="tty_acq1001_011"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39A", SYMLINK+="tty_acq1001_009"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A1", SYMLINK+="tty_acq1001_010"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AZ", SYMLINK+="tty_acq1001_012"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AD", SYMLINK+="tty_acq1001_014"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52O", SYMLINK+="tty_acq1001_015"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52D", SYMLINK+="tty_acq1001_016"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AY", SYMLINK+="tty_acq1001_017"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BL", SYMLINK+="tty_acq1001_018"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L309", SYMLINK+="tty_acq1001_019"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39D", SYMLINK+="tty_acq1001_020"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AI", SYMLINK+="tty_acq1001_021"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39V", SYMLINK+="tty_acq1001_022"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39Y", SYMLINK+="tty_acq1001_023"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L512", SYMLINK+="tty_acq1001_024"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BN", SYMLINK+="tty_acq1001_025"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39T", SYMLINK+="tty_acq1001_026"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L390", SYMLINK+="tty_acq1001_027"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B6", SYMLINK+="tty_acq1001_028"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AN", SYMLINK+="tty_acq1001_029"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AU", SYMLINK+="tty_acq1001_030"
