SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38R", SYMLINK+="tty_acq2006_001"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AL", SYMLINK+="tty_acq2006_002"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BZ", SYMLINK+="tty_acq2006_003"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BT", SYMLINK+="tty_acq2006_004"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3C4", SYMLINK+="tty_acq2006_005"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51C", SYMLINK+="tty_acq2006_006"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3C1", SYMLINK+="tty_acq2006_007"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50C", SYMLINK+="tty_acq2006_008"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AE", SYMLINK+="tty_acq2006_009"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51W", SYMLINK+="tty_acq2006_010"

SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B3", SYMLINK+="tty_acq2006_018"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AK", SYMLINK+="tty_acq2006_016"
