SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50P", SYMLINK+="tty_acq1001_001" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z4", SYMLINK+="tty_acq1001_002" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50U", SYMLINK+="tty_acq1001_003" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51X", SYMLINK+="tty_acq1001_004" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30A", SYMLINK+="tty_acq1001_005" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38V", SYMLINK+="tty_acq1001_006" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30F", SYMLINK+="tty_acq1001_007" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52F", SYMLINK+="tty_acq1001_008" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A3", SYMLINK+="tty_acq1001_013" RUN+="/usr/local/bin/make-tty-symlink"
