SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51H", SYMLINK+="tty_acq2106_001" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BY", SYMLINK+="tty_acq2106_003" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AW", SYMLINK+="tty_acq2106_002" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38L", SYMLINK+="tty_acq2106_004" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51N", SYMLINK+="tty_acq2106_007" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AO", SYMLINK+="tty_acq2106_006" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BA", SYMLINK+="tty_acq2106_009" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZS", SYMLINK+="tty_acq2106_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZR", SYMLINK+="tty_acq2106_008" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51Z", SYMLINK+="tty_acq2106_005" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39N", SYMLINK+="tty_acq2106_020" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AA", SYMLINK+="tty_acq2106_021" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L399", SYMLINK+="tty_acq2106_029" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z1", SYMLINK+="tty_acq2106_028" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AX", SYMLINK+="tty_acq2106_027" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZQ", SYMLINK+="tty_acq2106_026" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L519", SYMLINK+="tty_acq2106_025" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AS", SYMLINK+="tty_acq2106_024" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2YH", SYMLINK+="tty_acq2106_023" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L395", SYMLINK+="tty_acq2106_022" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N9", SYMLINK+="tty_acq2106_030" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9ND", SYMLINK+="tty_acq2106_036" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NE", SYMLINK+="tty_acq2106_033" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N8", SYMLINK+="tty_acq2106_037" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NV", SYMLINK+="tty_acq2106_034" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NX", SYMLINK+="tty_acq2106_035" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NW", SYMLINK+="tty_acq2106_032" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N6", SYMLINK+="tty_acq2106_031" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N7", SYMLINK+="tty_acq2106_038" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NA", SYMLINK+="tty_acq2106_039" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OS", SYMLINK+="tty_acq2106_046" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OX", SYMLINK+="tty_acq2106_045" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OR", SYMLINK+="tty_acq2106_040" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P0", SYMLINK+="tty_acq2106_041" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P1", SYMLINK+="tty_acq2106_042" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OW", SYMLINK+="tty_acq2106_043" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OZ", SYMLINK+="tty_acq2106_044" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P2", SYMLINK+="tty_acq2106_047" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OY", SYMLINK+="tty_acq2106_048" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OV", SYMLINK+="tty_acq2106_049" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWP", SYMLINK+="tty_acq2106_051" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWY", SYMLINK+="tty_acq2106_059" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWV", SYMLINK+="tty_acq2106_050" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWR", SYMLINK+="tty_acq2106_052" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWS", SYMLINK+="tty_acq2106_053" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWQ", SYMLINK+="tty_acq2106_054" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWU", SYMLINK+="tty_acq2106_055" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWT", SYMLINK+="tty_acq2106_056" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWW", SYMLINK+="tty_acq2106_057" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWX", SYMLINK+="tty_acq2106_058" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIJ", SYMLINK+="tty_acq2106_060" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIB", SYMLINK+="tty_acq2106_061" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIC", SYMLINK+="tty_acq2106_062" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIH", SYMLINK+="tty_acq2106_063" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPID", SYMLINK+="tty_acq2106_064" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIF", SYMLINK+="tty_acq2106_065" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIA", SYMLINK+="tty_acq2106_066" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIE", SYMLINK+="tty_acq2106_067" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPIG", SYMLINK+="tty_acq2106_068" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AJ03PPII", SYMLINK+="tty_acq2106_069" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GW", SYMLINK+="tty_acq2106_070" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WB9T", SYMLINK+="tty_acq2106_071" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WB9V", SYMLINK+="tty_acq2106_073" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GS", SYMLINK+="tty_acq2106_074" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GU", SYMLINK+="tty_acq2106_075" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GT", SYMLINK+="tty_acq2106_076" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GX", SYMLINK+="tty_acq2106_077" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GV", SYMLINK+="tty_acq2106_078" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A600C1GY", SYMLINK+="tty_acq2106_079" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WB9U", SYMLINK+="tty_acq2106_072" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LG", SYMLINK+="tty_acq2106_080" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8L8", SYMLINK+="tty_acq2106_081" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LC", SYMLINK+="tty_acq2106_082" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LB", SYMLINK+="tty_acq2106_083" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8L9", SYMLINK+="tty_acq2106_084" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LD", SYMLINK+="tty_acq2106_085" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LA", SYMLINK+="tty_acq2106_086" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LF", SYMLINK+="tty_acq2106_087" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LE", SYMLINK+="tty_acq2106_088" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AI05M8LH", SYMLINK+="tty_acq2106_089" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOA", SYMLINK+="tty_acq2106_090" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBO8", SYMLINK+="tty_acq2106_091" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBO9", SYMLINK+="tty_acq2106_092" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBO7", SYMLINK+="tty_acq2106_093" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOX", SYMLINK+="tty_acq2106_094" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOC", SYMLINK+="tty_acq2106_095" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOD", SYMLINK+="tty_acq2106_096" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOY", SYMLINK+="tty_acq2106_097" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOE", SYMLINK+="tty_acq2106_098" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBOB", SYMLINK+="tty_acq2106_099" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FZ", SYMLINK+="tty_acq2106_100" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FY", SYMLINK+="tty_acq2106_101" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FX", SYMLINK+="tty_acq2106_102" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FW", SYMLINK+="tty_acq2106_103" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBFZ", SYMLINK+="tty_acq2106_104" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FV", SYMLINK+="tty_acq2106_105" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WBG0", SYMLINK+="tty_acq2106_106" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1G1", SYMLINK+="tty_acq2106_107" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1G2", SYMLINK+="tty_acq2106_108" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1G0", SYMLINK+="tty_acq2106_109" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FU", SYMLINK+="tty_acq2106_119" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FN", SYMLINK+="tty_acq2106_110" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FO", SYMLINK+="tty_acq2106_111" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FM", SYMLINK+="tty_acq2106_112" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FL", SYMLINK+="tty_acq2106_113" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FP", SYMLINK+="tty_acq2106_114" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FQ", SYMLINK+="tty_acq2106_115" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FR", SYMLINK+="tty_acq2106_116" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FS", SYMLINK+="tty_acq2106_117" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FT", SYMLINK+="tty_acq2106_118" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGIO", SYMLINK+="tty_acq2106_124" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGJD", SYMLINK+="tty_acq2106_125" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGJB", SYMLINK+="tty_acq2106_127" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGJ9", SYMLINK+="tty_acq2106_120" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AK05M1FA", SYMLINK+="tty_acq2106_121" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGJA", SYMLINK+="tty_acq2106_128" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGJC", SYMLINK+="tty_acq2106_129" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGIN", SYMLINK+="tty_acq2106_123" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGCK", SYMLINK+="tty_acq2106_126" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A106WGCP", SYMLINK+="tty_acq2106_131" RUN+="/usr/local/bin/make-tty-symlink"
