SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50P", SYMLINK+="tty_acq1001_001" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z4", SYMLINK+="tty_acq1001_002" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50U", SYMLINK+="tty_acq1001_003" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51X", SYMLINK+="tty_acq1001_004" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30A", SYMLINK+="tty_acq1001_005" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38V", SYMLINK+="tty_acq1001_006" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30F", SYMLINK+="tty_acq1001_007" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52F", SYMLINK+="tty_acq1001_008" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A3", SYMLINK+="tty_acq1001_013" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L398", SYMLINK+="tty_acq1001_011" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39A", SYMLINK+="tty_acq1001_009" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A1", SYMLINK+="tty_acq1001_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AZ", SYMLINK+="tty_acq1001_012" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AD", SYMLINK+="tty_acq1001_014" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52O", SYMLINK+="tty_acq1001_015" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52D", SYMLINK+="tty_acq1001_016" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AY", SYMLINK+="tty_acq1001_017" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BL", SYMLINK+="tty_acq1001_018" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L309", SYMLINK+="tty_acq1001_019" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39D", SYMLINK+="tty_acq1001_020" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AI", SYMLINK+="tty_acq1001_021" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39V", SYMLINK+="tty_acq1001_022" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39Y", SYMLINK+="tty_acq1001_023" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L512", SYMLINK+="tty_acq1001_024" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BN", SYMLINK+="tty_acq1001_025" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39T", SYMLINK+="tty_acq1001_026" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L390", SYMLINK+="tty_acq1001_027" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B6", SYMLINK+="tty_acq1001_028" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AN", SYMLINK+="tty_acq1001_029" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AU", SYMLINK+="tty_acq1001_030" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39B", SYMLINK+="tty_acq1001_040" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L53S", SYMLINK+="tty_acq1001_041" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L53J", SYMLINK+="tty_acq1001_042" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L535", SYMLINK+="tty_acq1001_043" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L397", SYMLINK+="tty_acq1001_044" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AT", SYMLINK+="tty_acq1001_045" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B2", SYMLINK+="tty_acq1001_049" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L394", SYMLINK+="tty_acq1001_048" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BS", SYMLINK+="tty_acq1001_047" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38T", SYMLINK+="tty_acq1001_046" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L31B", SYMLINK+="tty_acq1001_050" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L537", SYMLINK+="tty_acq1001_051" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39K", SYMLINK+="tty_acq1001_052" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39R", SYMLINK+="tty_acq1001_053" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L53I", SYMLINK+="tty_acq1001_054" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30I", SYMLINK+="tty_acq1001_055" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38W", SYMLINK+="tty_acq1001_056" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZU", SYMLINK+="tty_acq1001_057" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A6", SYMLINK+="tty_acq1001_058" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AP", SYMLINK+="tty_acq1001_059" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52X", SYMLINK+="tty_acq1001_061" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2YR", SYMLINK+="tty_acq1001_062" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B1", SYMLINK+="tty_acq1001_063" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30T", SYMLINK+="tty_acq1001_064" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51J", SYMLINK+="tty_acq1001_060" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZI", SYMLINK+="tty_acq1001_065" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50D", SYMLINK+="tty_acq1001_066" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BR", SYMLINK+="tty_acq1001_067" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A9", SYMLINK+="tty_acq1001_068" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51Y", SYMLINK+="tty_acq1001_069" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B7", SYMLINK+="tty_acq1001_073" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BE", SYMLINK+="tty_acq1001_081" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50L", SYMLINK+="tty_acq1001_072" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z7", SYMLINK+="tty_acq1001_080" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38U", SYMLINK+="tty_acq1001_078" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AB", SYMLINK+="tty_acq1001_071" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L510", SYMLINK+="tty_acq1001_070" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZG", SYMLINK+="tty_acq1001_077" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BG", SYMLINK+="tty_acq1001_079" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39E", SYMLINK+="tty_acq1001_082" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39H", SYMLINK+="tty_acq1001_074" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51V", SYMLINK+="tty_acq1001_075" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L513", SYMLINK+="tty_acq1001_084" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50I", SYMLINK+="tty_acq1001_083" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30Q", SYMLINK+="tty_acq1001_076" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NC", SYMLINK+="tty_acq1001_090" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MZ", SYMLINK+="tty_acq1001_101" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NB", SYMLINK+="tty_acq1001_100" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MT", SYMLINK+="tty_acq1001_103" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NH", SYMLINK+="tty_acq1001_108" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NJ", SYMLINK+="tty_acq1001_107" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MS", SYMLINK+="tty_acq1001_092" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MX", SYMLINK+="tty_acq1001_093" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NG", SYMLINK+="tty_acq1001_102" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B4", SYMLINK+="tty_acq1001_109" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N1", SYMLINK+="tty_acq1001_097" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N0", SYMLINK+="tty_acq1001_098" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NI", SYMLINK+="tty_acq1001_106" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NF", SYMLINK+="tty_acq1001_105" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MV", SYMLINK+="tty_acq1001_095" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MW", SYMLINK+="tty_acq1001_096" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39S", SYMLINK+="tty_acq1001_091" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N2", SYMLINK+="tty_acq1001_099" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MU", SYMLINK+="tty_acq1001_104" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9MY", SYMLINK+="tty_acq1001_094" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NL", SYMLINK+="tty_acq1001_114" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O7", SYMLINK+="tty_acq1001_115" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OJ", SYMLINK+="tty_acq1001_127" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OK", SYMLINK+="tty_acq1001_126" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O0", SYMLINK+="tty_acq1001_113" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O6", SYMLINK+="tty_acq1001_112" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OD", SYMLINK+="tty_acq1001_138" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NS", SYMLINK+="tty_acq1001_123" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NY", SYMLINK+="tty_acq1001_122" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P8", SYMLINK+="tty_acq1001_154" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PE", SYMLINK+="tty_acq1001_156" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OU", SYMLINK+="tty_acq1001_150" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P4", SYMLINK+="tty_acq1001_151" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P9", SYMLINK+="tty_acq1001_153" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PD", SYMLINK+="tty_acq1001_155" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PB", SYMLINK+="tty_acq1001_157" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PC", SYMLINK+="tty_acq1001_158" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PH", SYMLINK+="tty_acq1001_159" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OQ", SYMLINK+="tty_acq1001_160" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PF", SYMLINK+="tty_acq1001_161" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PG", SYMLINK+="tty_acq1001_162" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OT", SYMLINK+="tty_acq1001_163" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9PA", SYMLINK+="tty_acq1001_164" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P7", SYMLINK+="tty_acq1001_152" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O8", SYMLINK+="tty_acq1001_116" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NM", SYMLINK+="tty_acq1001_117" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OA", SYMLINK+="tty_acq1001_118" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O5", SYMLINK+="tty_acq1001_119" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O4", SYMLINK+="tty_acq1001_120" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O2", SYMLINK+="tty_acq1001_121" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NU", SYMLINK+="tty_acq1001_149" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OB", SYMLINK+="tty_acq1001_148" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NK", SYMLINK+="tty_acq1001_147" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NN", SYMLINK+="tty_acq1001_146" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OO", SYMLINK+="tty_acq1001_145" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NZ", SYMLINK+="tty_acq1001_144" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O3", SYMLINK+="tty_acq1001_111" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O9", SYMLINK+="tty_acq1001_110" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9ON", SYMLINK+="tty_acq1001_124" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9O1", SYMLINK+="tty_acq1001_125" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OC", SYMLINK+="tty_acq1001_140" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NR", SYMLINK+="tty_acq1001_141" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OE", SYMLINK+="tty_acq1001_142" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OP", SYMLINK+="tty_acq1001_143" RUN+="/usr/local/bin/make-tty-symlink"
