SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51H", SYMLINK+="tty_acq2106_001" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BY", SYMLINK+="tty_acq2106_003" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AW", SYMLINK+="tty_acq2106_002" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38L", SYMLINK+="tty_acq2106_004" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51N", SYMLINK+="tty_acq2106_007" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AO", SYMLINK+="tty_acq2106_006" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BA", SYMLINK+="tty_acq2106_009" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZS", SYMLINK+="tty_acq2106_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZR", SYMLINK+="tty_acq2106_008" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51Z", SYMLINK+="tty_acq2106_005" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39N", SYMLINK+="tty_acq2106_020" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AA", SYMLINK+="tty_acq2106_021" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L399", SYMLINK+="tty_acq2106_029" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2Z1", SYMLINK+="tty_acq2106_028" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AX", SYMLINK+="tty_acq2106_027" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZQ", SYMLINK+="tty_acq2106_026" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L519", SYMLINK+="tty_acq2106_025" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AS", SYMLINK+="tty_acq2106_024" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2YH", SYMLINK+="tty_acq2106_023" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L395", SYMLINK+="tty_acq2106_022" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N9", SYMLINK+="tty_acq2106_030" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9ND", SYMLINK+="tty_acq2106_036" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NE", SYMLINK+="tty_acq2106_033" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N8", SYMLINK+="tty_acq2106_037" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NV", SYMLINK+="tty_acq2106_034" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NX", SYMLINK+="tty_acq2106_035" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NW", SYMLINK+="tty_acq2106_032" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N6", SYMLINK+="tty_acq2106_031" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9N7", SYMLINK+="tty_acq2106_038" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9NA", SYMLINK+="tty_acq2106_039" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OS", SYMLINK+="tty_acq2106_046" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OX", SYMLINK+="tty_acq2106_045" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OR", SYMLINK+="tty_acq2106_040" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P0", SYMLINK+="tty_acq2106_041" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P1", SYMLINK+="tty_acq2106_042" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OW", SYMLINK+="tty_acq2106_043" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OZ", SYMLINK+="tty_acq2106_044" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9P2", SYMLINK+="tty_acq2106_047" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OY", SYMLINK+="tty_acq2106_048" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A502K9OV", SYMLINK+="tty_acq2106_049" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWP", SYMLINK+="tty_acq2106_051" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWY", SYMLINK+="tty_acq2106_059" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWV", SYMLINK+="tty_acq2106_050" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWR", SYMLINK+="tty_acq2106_052" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWS", SYMLINK+="tty_acq2106_053" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWQ", SYMLINK+="tty_acq2106_054" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWU", SYMLINK+="tty_acq2106_055" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWT", SYMLINK+="tty_acq2106_056" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWW", SYMLINK+="tty_acq2106_057" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AH03OPWX", SYMLINK+="tty_acq2106_058" RUN+="/usr/local/bin/make-tty-symlink"
