SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MP", SYMLINK+="tty_cpsc2_004" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MU", SYMLINK+="tty_cpsc2_007" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MT", SYMLINK+="tty_cpsc2_009" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MS", SYMLINK+="tty_cpsc2_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MO", SYMLINK+="tty_cpsc2_006" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MQ", SYMLINK+="tty_cpsc2_005" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MV", SYMLINK+="tty_cpsc2_008" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MN", SYMLINK+="tty_cpsc2_003" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MR", SYMLINK+="tty_cpsc2_011" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MX", SYMLINK+="tty_cpsc2_002" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="A107W5MW", SYMLINK+="tty_cpsc2_001" RUN+="/usr/local/bin/make-tty-symlink"
