SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L7ND", SYMLINK+="tty_cpsc_153" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L9A8", SYMLINK+="tty_cpsc_152" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AE007NOM", SYMLINK+="tty_cpsc_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3C2", SYMLINK+="tty_cpsc_160" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L528", SYMLINK+="tty_cpsc_161" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L38X", SYMLINK+="tty_cpsc_162" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BJ", SYMLINK+="tty_cpsc_163" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3AQ", SYMLINK+="tty_cpsc_164" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30D", SYMLINK+="tty_cpsc_165" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L315", SYMLINK+="tty_cpsc_166" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39X", SYMLINK+="tty_cpsc_167" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZD", SYMLINK+="tty_cpsc_168" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A4", SYMLINK+="tty_cpsc_169" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30C", SYMLINK+="tty_cpsc_170" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A0", SYMLINK+="tty_cpsc_171" RUN+="/usr/local/bin/make-tty-symlink"
