SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39C", SYMLINK+="tty_rtm-t_037" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39M", SYMLINK+="tty_rtm-t_045" RUN+="/usr/local/bin/make-tty-rtm-t-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50R", SYMLINK+="tty_rtm-t_041" RUN+="/usr/local/bin/make-tty-rtm-t-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A7", SYMLINK+="tty_rtm-t_042" RUN+="/usr/local/bin/make-tty-rtm-t-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L530", SYMLINK+="tty_rtm-t_044" RUN+="/usr/local/bin/make-tty-rtm-t-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50V", SYMLINK+="tty_rtm-t_043" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3A2", SYMLINK+="tty_rtm-t_046" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52G", SYMLINK+="tty_rtm-t_049" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2ZC", SYMLINK+="tty_rtm-t_048" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52G", SYMLINK+="tty_rtm-t_049" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L516", SYMLINK+="tty_rtm-t_054" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50J", SYMLINK+="tty_rtm-t_053" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39G", SYMLINK+="tty_rtm-t_052" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L51T", SYMLINK+="tty_rtm-t_051" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L52H", SYMLINK+="tty_rtm-t_050" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L2YU", SYMLINK+="tty_rtm-t_060" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L53Q", SYMLINK+="tty_rtm-t_061" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3BO", SYMLINK+="tty_rtm-t_062" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L39F", SYMLINK+="tty_rtm-t_063" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3C3", SYMLINK+="tty_rtm-t_064" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3C5", SYMLINK+="tty_rtm-t_065" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L3B5", SYMLINK+="tty_rtm-t_066" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L30E", SYMLINK+="tty_rtm-t_067" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L396", SYMLINK+="tty_rtm-t_068" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="AM01L50Q", SYMLINK+="tty_rtm-t_069" RUN+="/usr/local/bin/make-tty-symlink"
