SUBSYSTEMS=="usb", ATTRS{product}=="WGM-201", SYMLINK+="wgm201"
SUBSYSTEMS=="usb", ATTRS{product}=="WGM-201", ENV{ID_SERIAL_SHORT}=="WGUTXAFZ", SYMLINK+="wgm201.1"
SUBSYSTEMS=="usb", ATTRS{product}=="WGM-201", ENV{ID_SERIAL_SHORT}=="WGUTXA5D", SYMLINK+="wgm201.2"
SUBSYSTEMS=="usb", ATTRS{product}=="WGM-201", ENV{ID_SERIAL_SHORT}=="WGVAMKEO", SYMLINK+="wgm201.3"

