SUBSYSTEMS=="usb", ATTRS{serial}=="82012589061B", SYMLINK+="tty_zb_010" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="821E81572F10", SYMLINK+="tty_zb_013" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="021E81592A15", SYMLINK+="tty_zb_012" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="021E814E1B18", SYMLINK+="tty_zb_014" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="021E814E1C07", SYMLINK+="tty_zb_016" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="021E814E3B1A", SYMLINK+="tty_zb_015" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="821FDFC30C13", SYMLINK+="tty_zb_018" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="0232A6991120", SYMLINK+="tty_zb_017" RUN+="/usr/local/bin/make-tty-symlink"
SUBSYSTEMS=="usb", ATTRS{serial}=="82012589060C", SYMLINK+="tty_zb_019" RUN+="/usr/local/bin/make-tty-symlink"

